<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.StudentMapper">
    <insert id="insertStudentList" >
        insert into j11_student_t (id,student_name,age,room_number,phone_number,class_id)
        values
        <foreach collection="students" item="student" separator=",">
            (#{student.id},#{student.studentName},#{student.age},#{student.roomNumber},#{student.phoneNumber},
            #{student.classId})
        </foreach>
    </insert>
    <resultMap id="studentMap" type="com.cskaoyan.bean.Student">
        <result column="id" property="id"/>
        <result column="student_name" property="studentName"/>
        <result column="room_number" property="roomNumber"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
    </resultMap>
    <select id="selectStudentsByClassId" resultMap="studentMap">
        select id,student_name,age,room_number,phone_number,class_id from j11_student_t
        where class_id = #{idzz}
    </select>

</mapper>