<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="com.cskaoyan.bean.Category">
        <result column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <collection  property="productlist" ofType="com.cskaoyan.bean.Product">
            <result column="pid" property="pid"/>
            <result column="pname" property="pname"/>
        </collection>
    </resultMap>
    <select id="findCategoryBycid" resultMap="categoryMap">
        select
        c.cid ,c.cname,
        p.pid, p.pname
        from category  c left join product p on c.cid=p.cid
        where c.cid=#{cid}
    </select>
</mapper>