<component name="libraryTable">
  <library name="mybatis-3.4.4">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Demo1/lib/mybatis-3.4.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/Demo1/lib/mysql-connector-java-8.0.11.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>